extends layout

block content
  nav
    div(class="nav-wrapper #424242 grey darken-3")
      
      a(href="#" class="brand-logo") Administrador de microcontroladores
        i(class="fab fa-jedi-order" style="margin-left:20px") 
        
  
  form(class="postForm" action='/api/microcontroladores' name='form'  method='post')
    .row
      input(type="text" placeholder="campo1")
      input(type="text" placeholder="campo2")
      input(type="text" placeholder="campo3")
      a(id="boton " class="waves-effect waves-light btn") Guardar

  table
    thead
      tr
        th ID
        th Materia
        th UV
        th Descripcion
      
      tbody(class="post")


    



  //<i class="fas fa-pencil-alt"></i>
  //<i class="fas fa-eraser"></i>