extends layout

block content
  nav
    div(class="nav-wrapper #424242 grey darken-3")
      
      a(href="#" class="brand-logo") Administrador de microcontroladores
        i(class="fab fa-jedi-order" style="margin-left:20px") 
        
      ul(id="nav-mobile" class="right hide-on-med-and-down")
        li
          a(href="sass.html") Sass
        
      
