extends layout

block content
  nav
    div(class="nav-wrapper #424242 grey darken-3")
      
      a(href="#" class="brand-logo") Administrador de microcontroladores
        i(class="fab fa-jedi-order" style="margin-left:20px") 
        
  
  form(class="postForm" action='/api/microcontroladores' name='form'  method='post')
    .row
      input(type="text" placeholder="campo1" name="materia" id="materia" value='')
      input(type="text" placeholder="campo2" name="uv" id="uv" value='')
      input(type="text" placeholder="campo3" name="descripcion" id="descripcion" value='')
      input(type="submit" value="Submit")

  table
    thead
      tr
        th ID
        th Materia
        th UV
        th Descripcion
        th Opciones
      
      tbody(class="post")


    



